#contatos {
    
    text-align: center;
    font-size: 30px;

    color: white;
 
 }
.contatosArea{
    align: center;
    display: flex;

    background-image: linear-gradient(180deg, #121214 0%, #43E7AD 50.52%, #E2D45C 100%);

}
.contatosArea div{

    max-width: 200%;
    align: center;

    margin: 40px auto;
    
}

.contatoFormText {
    max-width: 200%;
    height:25px;
    weight: 20px;
    border-radius: 10px;

}

.contatoFormMensagem {
    border-radius: 10px;
    height: 70px;
}



.contatosLinksOpcoes img{
    height: 50px;
    weight: 50px;

    align: center;

}

.contatosSubtitulo {
    font-size: 15px;
}

.copy {
    font-size: 15px
}
