.home img{
    animation: fromTop 4s 4s infinite;
    
}

@keyframes fromTop {
    0% {
        opacity: 1;
        transform: translateY(30px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(30px);
    }
}

 .menu {

    width: 450px;
    height: 60px;
   
    margin-left: 25px;
    margin-top: 45%;
    background-color:white;
    opacity: 0.3;
    border-radius: 30px;
    
    position: fixed;
    z-index:4;

    max-width: 70%;
   
 }

 .menu ul {
    list-style: none;
    display: flex;
    margin: auto;
    margin-top: 4.5%;
    gap: 4rem;
    
 }

i {
    width: 50px;
    height: 50px;

    color: black;
}